{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>
<hr>
{# <a href="{{ path('admin_membres') }}" class="col-md-6 offset-md-3 btn btn-dark">GESTION DES MEMBRES</a><hr> #}
{% endblock %}
